H3{	font: 12pt "arial",Times, serif;color: #000000;font-weight: bold;}
#lateral a{color: #3333cc;text-decoration: none;}
.fuente{font: 10pt "arial", Times, serif;color: #000000;}
.fuenteN{font: 10pt "arial", Times, serif;color: #000000;font-weight: bold;}